.navbar{
    display: flex;
    justify-content: space-between;
    padding:8px 4%;
    align-items: center;
}

.navbar .title h2{
    color:rgb(243, 75, 103);
}

.navbar .title p{
    color:rgb(60, 1, 116);
}

.navbar .profile_image{
    width:60px;
    border-radius: 50px;
    border-color: violet;
}